.stockBtn {
  position: relative;
  top: -53px;
  left: 1070px;
  button {
    color: #000000;
    text-transform: capitalize;
    width: 150px;
    span {
      text-transform: uppercase;
      font-style: italic;
      color: #0040e6;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 450px) and (min-width: 300px) {
  .stockBtn {
    top: 0px;
    left: 0px;
    button {
      margin-bottom: 20px;
    }
  }
}
