.paginator {
  display: flex;
  position: relative;
  left: -15px;
  justify-content: space-between;
  align-items: center;
  max-width: 15%;
  margin: 20px auto;
  .thisPage {
    min-width: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 450px) and (min-width: 300px) {
  .paginator {
    left: 0px;
    justify-content: center;
    .thisPage {
      min-width: 30px;
      text-align: center;
    }
  }
}
